.line {
  fill: none;
  stroke-width: 2px;
}

.axis-label {
  font-size: 12px;
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 6px;
  font-size: 12px;
  background: lightgray;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  pointer-events: none;
}
